*{
	box-sizing: border-box;
	padding:0;
	margin:0;
}
body{
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	background-color: #85A5D4;
	line-height: 1.5;
	


}
.list{
	display: flex;
	width:900px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 20px 25px;
	background-color: white;
	box-shadow:0px  5px 10px #383838;
}
.list-item{
	width: 300px;
	text-align: center;
	list-style-type: none;
	padding:20px 25px;
	
}
.list-item:hover{
	background-color:#eee;
	border-radius: 10px; 
}
.list-item-link{
	text-decoration: none;
}
.list-item-title{
	text-transform: uppercase;
	color:rgb(89, 125, 184);
}
.list-item-subtitle{
	margin-top: 10px;
	color: #555;
	font-size: 14px;
}


.price{
	margin-top: 10px;
	color:rgb(89, 125, 184);
	font-weight: bold;
	font-size: 30px;
}
.price sup,sub {
	font-size: 20px;
}